{% assign number_of_related_products_to_show = 3 %}
{% assign image_size = 'original' %}
{% assign heading = 'related products' %}

{% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
  {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
    {% assign found_a_collection = true %}
    {% assign collection = c %}
  {% endif %}
{% endfor %}
{% endif %}

{% if collection %}
	<div class='heading thirteen columns alpha'>
		{{ heading }}
	</div>
	<div class='divider thirteen columns alpha'></div>
	{% assign current_product_found = false %}
	{% assign index = 0 %}
	{% for prod in collection.products limit: number_of_related_products_to_fetch %}
		{% if prod.title == product.title %}
	  	{% assign current_product_found = true %}
		{% else %}
			{% capture index %}{{ index | plus: 1 }}{% endcapture %}
	  	{% unless current_product_found == false and forloop.last %}
				{% case index %}
						{% when '3' %}
							<div class='product prod columns omega related-last'>
						{% when '2' %}
							<div class='product prod columns related-middle'>
						{% when '1' %}
							<div class='product prod columns alpha'>
				{% endcase %}
				{% if settings.sale_banner %}
					{% if prod.compare_at_price_max > prod.price %}
					  <a href="{{ prod.url }}">
					  	<div class="small-sale-banner">
			    		    <div class="small-sale-left"></div><div class="small-sale-middle">on sale</div><div class="small-sale-right"></div>
				    	</div>
						</a>
					{% endif %}
				{% endif %}
				{% if prod.available %}
				{% else %}
					{% if settings.soldout_banner %}
						<a href="{{ prod.url }}">
				  		<div class="small-soldout-banner">
				    	    <div class="small-soldout-left"></div><div class="small-soldout-middle">sold out</div><div class="small-soldout-right"></div>
					    </div>
						</a>
					{% endif %}
				{% endif %}
				<a href="{{ prod.url | within: collection }}">
					<img src="{{ prod.featured_image | product_img_url: 'original' }}" alt="{{ link.title | escape }}" class='product-img product prod columns ' />
				</a>
				<table>
					<tr>
						<td>
							<div class='price'>
								{{ prod.price | money | remove: '.00' }}
							</div>
						</td>
						<td>
							<div class='desc'>
								<a href="{{ prod.url }}">{{ prod.title }}{{ index }}</a>
							</div>
						</td>
					</tr>
				</table>
			{% endunless %}
		</div>
		{% endif %}
	{% endfor %}
{% endif %}
