<div class='thirteen columns clearfix'>

	<div class="seven columns offset-by-one alpha post">
			
		{% paginate blog.articles by 5 %}
			{% for article in blog.articles %}
			<a name="article-{{ article.id }}"></a>
	
			<div class="article {% if forloop.first %}first{% endif %}">
	    	<div class="blog-post">
					<p class="user"></p>
					<a href="{{ article.url }}" class="blog-post-title">{{ article.title }}</a>
					<div class="blog-post-date">by <span class="author">{{ article.author }}</span> on {{ article.created_at | date: "%B %d, %Y" }} {% if blog.comments_enabled? %}<a class="comments" href="{{article.url}}#comments">Comments ({{ article.comments_count }})</a>{% endif %}</div>
					<div class="divider alpha"></div>
					<div class="textile">
						{{ article.content }}
					</div>
				</div>
	    
  			<div class="blog-details">
					<a href="{{ article.url }}">continue reading</a>
  			</div>
				<div class="divider alpha"></div>
			</div>
			
	
				{% endfor %}
		
				{% if paginate.pages > 1 %}
				<div class="pagination">
						{{ paginate | default_pagination }}
				</div>
				{% endif %}
	
		{% endpaginate %}
	
	</div>
	
	<div class="four columns offset-by-one omega">
		
		<div class="recent-posts">recent posts<a class="rss-icon" href="{{ blog.url }}.atom"><div id="rss"></div></a></div>
		<div class="divider alpha"></div>
		{% for article in blog.articles limit:7 %}
			<div class="recent-post-list">
				<div class="recent-title"><a href="{{ article.url }}">{{ article.title }}</a></div>
				<div class="recent-date">{{ article.created_at | date: "%B %d, %Y" }}</div>
			</div>
		{% endfor %}
		
	</div>

</div>