<div class='products-section'>
	<div class='featured'>
    you have {{ cart.item_count }} {% if cart.item_count == 1 %}item{% else %}items{% endif %} in your cart
  </div>
	{% if cart.item_count > 0 %}
  <div class='featured-divider'></div>
		<form action="/cart" method="post" name="cartform">
			{% for item in cart.items %}
				<table>
					<tr><td>
						<img alt='' class='cart-thumb' src="{{ item.product.images[0] | product_img_url: 'small' }}" alt="{{ item.title | escape }}" />
					</td><td class="cart-col">
						<div id="cart-desc" class='desc'>
							{{ item.title | escape }}
						</div>
						<div class='price'>
						  {{ item.price | money | remove: '.00' }}
						</div>
					</td><td class="cart-col">
						<div class="adjust-qty">
							<img src="{{ 'x.png' | asset_url }}" alt="" />
							<input type="text" class="field" name="updates[{{ item.id }}]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
						</div>
					</td><td class="cart-col">
						<div class="col-three">
							<div class='price' id="cart-price">
							  {{ item.line_price | money }}
							</div>
							<div class="remove">
								<a href="/cart/change/{{ item.variant.id }}?quantity=0">remove</a>
							</div>
						</div>
					</td></tr>
				</table>
				<div class='featured-divider'></div>
			{% endfor %}
	
	
	<div class="total-price">
		<div class="total">
			total
		</div>
		<div class='big-price'>
		  {{ cart.total_price | money }}
		</div>
	</div>
	<div class='featured-divider'></div>
	<div class="total-price">
		<input type="submit" class="large button main" alt="Checkout" name="checkout" value="Checkout" id="checkout-button" />
		<input type="submit" class="large button secondary" alt="Update" name="update" class="update" id="update-button" value="Update" />
		<div class="update-cart">
			<a href="#" id="update-link">update cart</a>
		</div>
		<div class="checkout">
			<a href="#" id="checkout-link">checkout</a>
		</div>
	</div>
	{% endif %}
</div>
