<div class='products-section'>
	<div class="pd-imgs">
		<img src="{{ product.images.first | product_img_url: 'original' }}" id="big-img" alt=""/>
		<br/>
		{% for image in product.images %}
			{% if forloop.last %}
				<a href="javascript:void(0)"><img src="{{ image | product_img_url: 'original' }}" class="thumb last" alt=""/></a>
			{% else %}
				<a href="javascript:void(0)"><img src="{{ image | product_img_url: 'original' }}" class="thumb" alt=""/></a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="pd-text">
		<div class="pd-name">
			{{ product.title | escape }}
		</div>
		{% if product.available %} 
			{%  if product.variants.size > 1  %}
				<form action="/cart/add" method="post" name="varient_selector">
					<select class="options" id="product-select" name='id'>
						{% for variant in product.variants %}
      				<option value="{{ variant.id }}">{{ variant.title }}</option>
      			{% endfor %}
					</select>
					<div>
						<div class="pd-price">
						</div>
						<noscript>
							<input type="submit" class="large button main" name="add" value="Add to Shopping Cart" id="purchase" />
						</noscript>
						<a href="#" onclick="document.varient_selector.submit();" id="purchase-link">purchase</a>
					</div>
				</form>
			{% else %}
				<form action="/cart/add" method="post">
					<div>
						<div class="pd-price">
							{{ product.price | money_with_currency | remove: '.00' }}
						</div>
						<noscript>
							<input type="submit" class="large button main" name="add" value="Add to Shopping Cart" id="purchase" />
						</noscript>
						<a href="#" onclick="document.varient_selector.submit();" id="purchase-link">purchase</a>
					</div>
				</form>
			{% endif %}
		{% else %}
			<div class="pd-price">
				This product is out of stock.
			</div>
		{% endif %}
		<div class='blank'></div>
		<div class="divider">
		</div>
		<div class="pd-desc">
			{{ product.description }}
		</div>
	</div>
	{% include 'related_products' %}
</div>

<script type="text/javascript">
// <![CDATA[  
var selectCallback = function(variant, selector) {
  if (variant && variant.available == true) {
    // selected a valid variant
    jQuery('#purchase').removeClass('disabled').removeAttr('disabled'); // TODO: make this work with link | remove unavailable class from add-to-cart button, and re-enable button
		jQuery('#purchase-link').removeClass('hidden');
    jQuery('.pd-price').html(Shopify.formatMoney(variant.price, "{{shop.money_format}}"));  // update price field
  } else {
    // variant doesn't exist
    jQuery('#purchase').addClass('disabled').attr('disabled', 'disabled'); // TODO: make this work with link | set add-to-cart button to unavailable class and disable button
		jQuery('#purchase-link').addClass('hidden');
    var message = variant ? "Sold Out" : "Unavailable";
    jQuery('.pd-price').text(message); // update price-field message
  }
};


// initialize multi selector for product      
jQuery(document).ready(function() {
  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
        jQuery('.single-option-selector:eq(' + {{ forloop.index0 }} + ')').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}
});                         

// ]]>
</script>