<div class='thirteen columns clearfix'>
	<div class="seven columns alpha pd-imgs">
		{% if settings.sale_banner %}
			{% if product.compare_at_price_max > product.price %}
				<!--[if !IE]><!-->
					<div class="small-sale-banner">
	    		    <div class="small-sale-left"></div><div class="small-sale-middle">on sale</div><div class="small-sale-right"></div>
		    	</div>
				<!--<![endif]-->
				<!--[if IE]><!-->
					<div class="small-sale-banner-ie">
	    		    <div class="small-sale-middle">on sale</div>
		    	</div>
				<!--<![endif]-->
			{% endif %}
		{% endif %}
		<img src="{{ product.images.first | product_img_url: 'original' }}" class="seven columns" id="big-img" alt=""/>
		<br/>
		{%  if product.images.size > 1  %}
			{% for image in product.images %}
				{% if forloop.last %}
					<a href="javascript:void(0)"><img src="{{ image | product_img_url: 'original' }}" class="thumb last" alt=""/></a>
				{% else %}
					<a href="javascript:void(0)"><img src="{{ image | product_img_url: 'original' }}" class="thumb" alt=""/></a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="six columns omega pd-text">
		<div class="pd-name">
			{{ product.title | escape }}
		</div>
		{% if product.available %} 
			{%  if product.variants.size > 1  %}
				<form action="/cart/add" method="post" name="varient_selector">
					<select class="options" id="product-select" name='id'>
						{% for variant in product.variants %}
      				<option value="{{ variant.id }}">{{ variant.title }}</option>
      			{% endfor %}
					</select>
					<div>
						<div class="pd-price">
						</div>
						<noscript>
							<input type="submit" class="large button main" name="add" value="Add to Shopping Cart" id="purchase" />
						</noscript>
						<a href="#" onclick="document.varient_selector.submit();" id="purchase-link">purchase</a>
					</div>
				</form>
			{% else %}
				<form action="/cart/add" method="post" name="varient_selector">
					<input type="hidden" id="{{ variant.id }}" name="id" value="{{ product.variants[0].id }}" />
					<div>
						<div class="pd-price">
							{% if settings.price_comparison == true %}
								{% if product.compare_at_price_max > product.price %}
									<span class="old-price">
										{% if settings.price_decimal %}
											{{ product.compare_at_price_max | money }}
										{% else %}
						        	{{ product.compare_at_price_max | money | remove: '.00' }}
										{% endif %}
									</span>
								{% endif %}
							{% endif %}
							{% if settings.price_decimal %}
								{{ product.price | money }}
							{% else %}
			        	{{ product.price | money | remove: '.00' }}
							{% endif %}
						</div>
						<noscript>
							<input type="submit" class="large button main" name="add" value="Add to Shopping Cart" id="purchase" />
						</noscript>
						<a href="#" onclick="document.varient_selector.submit();" id="purchase-link">purchase</a>
					</div>
				</form>
			{% endif %}
		{% else %}
			<div class="pd-price">
				This product is out of stock.
			</div>
		{% endif %}
		<br class='clear' />
		<div class="divider">
		</div>
		<div class="pd-desc">
			{{ product.description }}
		</div>
	</div>
	<div class="pd-spacer thirteen columns"></div>
	{% if settings.related_products %}
		{% include 'related_products' %}
	{% endif %}
</div>

<script type="text/javascript">
// <![CDATA[  
var selectCallback = function(variant, selector) {
  if (variant && variant.available == true) {
    // selected a valid variant
    jQuery('#purchase').removeClass('disabled').removeAttr('disabled'); // TODO: make this work with link | remove unavailable class from add-to-cart button, and re-enable button
		jQuery('#purchase-link').removeClass('hidden');
    jQuery('.pd-price').html(Shopify.formatMoney(variant.price, "{{shop.money_format}}"));  // update price field
  } else {
    // variant doesn't exist
    jQuery('#purchase').addClass('disabled').attr('disabled', 'disabled'); // TODO: make this work with link | set add-to-cart button to unavailable class and disable button
		jQuery('#purchase-link').addClass('hidden');
    var message = variant ? "Sold Out" : "Unavailable";
    jQuery('.pd-price').text(message); // update price-field message
  }
};


// initialize multi selector for product      
jQuery(document).ready(function() {
  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
        jQuery('.single-option-selector:eq(' + {{ forloop.index0 }} + ')').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}
});                         

// ]]>
</script>